body {
    background: #000
}

#music-div {
    position: absolute;
    left: 5vw;
    top: 4.5vh;
    height: 5vh;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: left;

    overflow: hidden;
    margin: 0;
}

#music-song {
    position: absolute;
    left: 10.1111111111vw;
    color: #999;
    font-size: 4.4444444444vw;
    font-family: HarmonyOS Sans;
    font-weight: 400;
    z-index: 1;
}

#music-artist {
    position: relative;
    color: #999;
    font-size: 3.3333333333vw;
    font-family: HarmonyOS Sans;
    font-weight: 400;
}

#time-div {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: left;

}

#time-digit {
    position: relative;
    color: #DBDBDB;
    font-size: 26.6666666667vw;
    font-family: HarmonyOS Sans;
    font-weight: 300;
}

#time-togo {
    position: relative;
    left: 1.1111111111vw;
    color: #DBDBDB;
    font-size: 8.3333333333vw;
    font-family: HarmonyOS Sans;
    font-weight: 500;
}

#mode {
    position: absolute;
    left: 32.2222222222vw;
    bottom: 1.75vh;

    color: #999;
    font-size: 3.3333333333vw;
    font-family: HarmonyOS Sans;
}

#tap-div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    z-index: 9999;
}

#tap-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 39.25vh;
}

#tap-text {
    position: absolute;
    top: 43vh;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    color: #000;
    font-family: HarmonyOS Sans;
    font-size: 2vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}